@layer tailwind-base, primereact, tailwind-utilities;

@import "primereact/resources/themes/saga-green/theme.css";

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
